/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.4.4
* Docs at http://ramseyinhouse.github.io/scut
*/
.assistive-text,
.visuallyhidden,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.cover-button {
  display: flex;
  flex-direction: column;
}
.cover-button .wp-block-cover__inner-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cover-button .wp-block-cover__inner-container h2 {
  flex: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}
.cover-button .wp-block-cover__inner-container h2 a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}
.cover-button .wp-block-cover__inner-container h2 a:hover, .cover-button .wp-block-cover__inner-container h2 a:focus, .cover-button .wp-block-cover__inner-container h2 a:target {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
}

.has-red-color {
  color: var(--brand_color-red);
}

.has-red-background-color {
  background-color: var(--brand_color-red);
}

.has-dark-color {
  color: var(--brand_color-dark);
}

.has-dark-background-color {
  background-color: var(--brand_color-dark);
}

.has-white-color {
  color: var(--brand_color-white);
}

.has-white-background-color {
  background-color: var(--brand_color-white);
}

.has-tan-color {
  color: var(--brand_color-tan);
}

.has-tan-background-color {
  background-color: var(--brand_color-tan);
}

.has-brown-color {
  color: var(--brand_color-brown);
}

.has-brown-background-color {
  background-color: var(--brand_color-brown);
}

.has-maroon-color {
  color: var(--brand_color-maroon);
}

.has-maroon-background-color {
  background-color: var(--brand_color-maroon);
}

.has-light-color {
  color: var(--brand_color-light);
}

.has-light-background-color {
  background-color: var(--brand_color-light);
}

.has-gray-color {
  color: var(--brand_color-gray);
}

.has-gray-background-color {
  background-color: var(--brand_color-gray);
}

.has-slate-color {
  color: var(--brand_color-slate);
}

.has-slate-background-color {
  background-color: var(--brand_color-slate);
}

.has-teal-color {
  color: var(--brand_color-teal);
}

.has-teal-background-color {
  background-color: var(--brand_color-teal);
}

.has-black-color {
  color: var(--brand_color-black);
}

.has-black-background-color {
  background-color: var(--brand_color-black);
}

.has-darker-color {
  color: var(--brand_color-darker);
}

.has-darker-background-color {
  background-color: var(--brand_color-darker);
}

.has-mediumgray-color {
  color: var(--brand_color-mediumgray);
}

.has-mediumgray-background-color {
  background-color: var(--brand_color-mediumgray);
}

.has-silver-color {
  color: var(--brand_color-silver);
}

.has-silver-background-color {
  background-color: var(--brand_color-silver);
}

.has-red-to-maroon-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-red) 75%, var(--brand_color-maroon) 100%);
}

.has-maroon-to-dark-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-maroon) 75%, var(--brand_color-dark) 100%);
}

.has-brown-to-dark-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-brown) 75%, var(--brand_color-dark) 100%);
}

.has-slate-to-dark-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-slate) 75%, var(--brand_color-dark) 100%);
}

.has-tan-to-white-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-tan) 75%, var(--brand_color-white) 100%);
}

.has-gray-to-light-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-gray) 75%, var(--brand_color-light) 100%);
}

.has-light-to-white-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-light) 75%, var(--brand_color-white) 100%);
}

.has-teal-to-tan-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-teal) 75%, var(--brand_color-tan) 100%);
}

.has-tan-to-slate-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-tan) 75%, var(--brand_color-slate) 100%);
}
/*# sourceMappingURL=block_styles.css.map */
