.assistive-text,
.visuallyhidden,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.cover-button {
  display: flex;
  flex-direction: column;
}
.cover-button .wp-block-cover__inner-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cover-button .wp-block-cover__inner-container h2 {
  flex: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}
.cover-button .wp-block-cover__inner-container h2 a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}
.cover-button .wp-block-cover__inner-container h2 a:hover, .cover-button .wp-block-cover__inner-container h2 a:focus, .cover-button .wp-block-cover__inner-container h2 a:target {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
}

.has-red-color {
  color: var(--brand_color-red);
}

.has-red-background-color {
  background-color: var(--brand_color-red);
}

.has-dark-color {
  color: var(--brand_color-dark);
}

.has-dark-background-color {
  background-color: var(--brand_color-dark);
}

.has-white-color {
  color: var(--brand_color-white);
}

.has-white-background-color {
  background-color: var(--brand_color-white);
}

.has-tan-color {
  color: var(--brand_color-tan);
}

.has-tan-background-color {
  background-color: var(--brand_color-tan);
}

.has-brown-color {
  color: var(--brand_color-brown);
}

.has-brown-background-color {
  background-color: var(--brand_color-brown);
}

.has-maroon-color {
  color: var(--brand_color-maroon);
}

.has-maroon-background-color {
  background-color: var(--brand_color-maroon);
}

.has-light-color {
  color: var(--brand_color-light);
}

.has-light-background-color {
  background-color: var(--brand_color-light);
}

.has-gray-color {
  color: var(--brand_color-gray);
}

.has-gray-background-color {
  background-color: var(--brand_color-gray);
}

.has-slate-color {
  color: var(--brand_color-slate);
}

.has-slate-background-color {
  background-color: var(--brand_color-slate);
}

.has-teal-color {
  color: var(--brand_color-teal);
}

.has-teal-background-color {
  background-color: var(--brand_color-teal);
}

.has-black-color {
  color: var(--brand_color-black);
}

.has-black-background-color {
  background-color: var(--brand_color-black);
}

.has-darker-color {
  color: var(--brand_color-darker);
}

.has-darker-background-color {
  background-color: var(--brand_color-darker);
}

.has-mediumgray-color {
  color: var(--brand_color-mediumgray);
}

.has-mediumgray-background-color {
  background-color: var(--brand_color-mediumgray);
}

.has-silver-color {
  color: var(--brand_color-silver);
}

.has-silver-background-color {
  background-color: var(--brand_color-silver);
}

.has-red-to-maroon-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-red) 75%, var(--brand_color-maroon) 100%);
}

.has-maroon-to-dark-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-maroon) 75%, var(--brand_color-dark) 100%);
}

.has-brown-to-dark-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-brown) 75%, var(--brand_color-dark) 100%);
}

.has-slate-to-dark-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-slate) 75%, var(--brand_color-dark) 100%);
}

.has-tan-to-white-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-tan) 75%, var(--brand_color-white) 100%);
}

.has-gray-to-light-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-gray) 75%, var(--brand_color-light) 100%);
}

.has-light-to-white-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-light) 75%, var(--brand_color-white) 100%);
}

.has-teal-to-tan-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-teal) 75%, var(--brand_color-tan) 100%);
}

.has-tan-to-slate-gradient-background {
  background-image: linear-gradient(135deg, var(--brand_color-tan) 75%, var(--brand_color-slate) 100%);
}

body .block-display-auction .auction_listing {
  padding: 1em;
  border-radius: 5px;
  position: relative;
  margin-bottom: 2em;
  overflow: hidden;
}
body .block-display-auction .auction_listing h5 {
  margin-top: 0;
}
body .block-display-auction .auction_listing .featured_image_container img {
  margin: 0 -1em;
  width: calc(100% + 2em);
  max-width: none;
}
body .block-display-auction.style-plain {
  width: 95vw;
  max-width: 100ch;
  margin: 2em auto;
}
body .block-display-auction.style-plain .auction_listing {
  box-shadow: none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}
body .block-display-auction.style-plain .auction_listing header {
  flex: none;
  width: 100%;
}
body .block-display-auction.style-plain .auction_listing .featured_image_container {
  max-width: 35%;
  height: auto;
}
body .block-display-auction.style-plain .auction_listing .featured_image_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body .block-display-auction.style-plain .auction_listing .auction_details {
  flex: 1;
}
body .block-display-auction.style-plain .auction_listing .auction_details .auction_dates {
  background: none;
  color: #303030;
}
body .block-display-auction.style-list .list_container {
  width: 95vw;
  max-width: 100ch;
  margin: 2em auto;
}
body .block-display-auction.style-list .auction_details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.73);
}
body .block-display-auction.style-list .auction_details .auction_dates {
  display: flex;
}
body .block-display-auction.style-list .auction_details .auction_dates > div {
  padding: 0.5em 1em;
  flex: 1;
}
body .block-display-auction.style-list .auction_details .auction_dates h6 {
  margin-top: 0;
}
body .block-display-auction.style-list .auction_details .auction_dates ul,
body .block-display-auction.style-list .auction_details .auction_dates li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body .block-display-auction.style-grid .grid_container {
  width: 98vw;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  grid-gap: 1rem;
}
body .block-display-auction.style-grid .auction_listing {
  border: 2px solid transparent;
  transition: all 200ms ease-in-out;
}
body .block-display-auction.style-grid .auction_listing:hover, body .block-display-auction.style-grid .auction_listing:target, body .block-display-auction.style-grid .auction_listing:focus {
  border: 2px solid #BF2026;
  box-shadow: 1px 1px 23px rgba(0, 0, 0, 0.46);
}
body .block-display-auction.style-grid .auction_details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.73);
  font-size: 80%;
}
body .block-display-auction.style-grid .auction_details .auction_dates {
  display: flex;
}
body .block-display-auction.style-grid .auction_details .auction_dates > div {
  padding: 0.5em 1em;
  flex: 1;
}
body .block-display-auction.style-grid .auction_details .auction_dates h6 {
  margin-top: 0;
}
body .block-display-auction.style-grid .auction_details .auction_dates ul,
body .block-display-auction.style-grid .auction_details .auction_dates li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body .block-display-staff {
  margin: 1em auto 3em auto;
  display: flex;
  align-items: center;
}
body .block-display-staff .person_headshot_container {
  max-width: 30%;
  margin: 1em;
}
body .block-display-staff .person_bio_container {
  flex: 1;
  padding: 1em;
}
body .block-display-staff .person_bio_container h5 {
  margin-top: 0;
  padding: 0 1rem;
  display: block;
  border-bottom: 2px solid #BF2026;
}
body .block-display-staff .person_bio_container h5 span.job_title {
  font-size: 50%;
  color: #590F11;
}
body .block-display-staff .person_bio_container p {
  padding-left: 1em;
  padding-right: 1em;
}
body .block-display-staff.style-card {
  background: var(--brand_color-white);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.16);
  margin: 2em auto 4em auto;
  border: 2px solid transparent;
  transition: all 200ms ease-in-out;
  width: 95%;
  max-width: 100ch;
}
/*# sourceMappingURL=block_styles.css.map */
