
#full_page_sticky_container {
	position: relative;

}

.site-header {
	position: sticky;
	top: 0;
	max-width: 100vw;
	z-index: 999999;


	.site-header-content-container {
		border-top: 7px solid var( --brand_color-red );
		display: flex;
		align-items: center;
		position: absolute;
		min-height: 4em;
		width: 100%;
		padding: 2px 2rem;
		transition: all $button-transition-speed ease-in-out;
		background: var(--header--background_color);
		color: var(--header--nav_text_color);
		box-shadow: 0 7px 0 7px  color-mix(in srgb, var(--brand_color-maroon), transparent 21%);

		@include phone-only {
			padding: 2px 1rem;
			box-shadow: 0 4px 0 4px  color-mix(in srgb, var(--brand_color-maroon), transparent 21%);
		}
	}
	&.smaller .site-header-content-container {
		background-color: var(--smaller_header--background_color);
		color: var(--smaller_header--nav_text_color);
		box-shadow: 0 4px 0 4px color-mix(in srgb, var(--brand_color-maroon), transparent 21%);;
	}


	.site-logo {
		color: var(--header--nav_text_color);

		a {
			color: currentColor;
			text-decoration: none;
		}

		img {
			height: auto;
			width: 80vw;
			min-width: 120px;
			max-width: 390px;
		}

		h1 {
			margin: 0;
			padding: 0 1em;
		}

		svg {
			width: 50vw;
			min-width: 150px;
			max-width: 300px;
			transition: all 250ms ease-in-out;
			fill: var(--header--nav_text_color);

			.home & {
				max-width: 510px;
			}
		}
	}

	&.smaller .site-logo {


		a {
			color: var(--smaller_header--nav_text_color);
			text-decoration: none;
		}
		h1 {
			margin: 0;
			font-size: calc( var(--typography-h1_size) * 0.7 );
		}
		svg {
			max-width: 290px;
			fill: var(--smaller_header--nav_text_color);
		}

		#GERLACH__COMPANIES__INC--logo {
			margin: -35px 0 -36px -30px;

			@include phone-only {
				margin: -40px -20px -30px -20px;
			}

			#FRED__GREYSCALE {
				image {
					transform: scale( .52 ) translateX( 123% ) translateY( 60% );
				}
			}
		}
	}

	#GERLACH__COMPANIES__INC--logo {
		margin: 0 0 -24px -40px;
		@include phone-only {
			margin: 0 0 -15px -25px;
		}

		.main_text_color {
			fill: currentColor;
		}
		.shadow_color {
			fill: currentColor;
			opacity: 0.4;
		}

		#logomark__image {
			margin: -25px 0;
		}
		#FRED__GREYSCALE {
			position: relative;

			image {
				transform: scale( 1 ) translateX( 62% ) translateY( 0% );
			}

		}

	}

	&.smaller {
		.main-navigation {
			@include tablet-up{
				margin-top: 0;
				.home & {
					margin-top: 0;
				}
			}
		}
	}
	.main-navigation {
		text-align: center;
		position: relative;
		flex: 1;
		z-index: 9999999;
		display: flex;
		line-height: 1;
		align-items: baseline;
		font-weight: 600;
		text-transform: uppercase;

		@include tablet-up {
			margin-top: 4em;
			.home & {
				margin-top: 8em;
			}
		}

		button {
			align-self: stretch;
			padding: 0 .76em 0 1.1em;
			transition: all $button-transition-speed ease-in-out;
			outline: 0;
			border: 0;
			font-size: 0.9rem;

			&.hidden {
				transition: none;
				width: 0;
				padding: 0;
				overflow: hidden;
			}

			&:after {
				content: attr(count);
				display: inline-flex;
				width: 20px;
				height: 20px;
				align-items: center;
				justify-content: center;
				background-color: var(--nav_item_hover--background_color);
				color: var(--nav_item_hover--text_color);
				box-shadow: -1px 0 2px 0 rgba(0,0,0,0.9);
				border-radius: 50%;
				font-size: 11px;
				line-height: 11px;
				//margin: -0.25rem 0 0 0.3rem;
				margin: 0 -0.25em 0 0.4em;
				//margin-right: -5em;
				//margin-right: calc(-1rem + -8px);

			}
		}
		ul.menu {
			margin-top: 0;
			padding: 1em 0 0 2rem;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex: 1;
			//overflow: hidden;
			transition: all $button-transition-speed ease-in-out;


			li {
				list-style-type: none;
				margin: 0 1px 0 0;
				padding: 0;


				&.menu-item-has-children {
					position: relative;

					&:hover,
					&:focus,
					&:target {
						> ul.menu {
							max-height: 90vh;
							background-color: var(--smaller_header--background_color);
						}
					}

					> ul.menu {
						max-height: 0;
						overflow: hidden;
						position: absolute;
						flex-direction: column;
						align-content: stretch;
						font-size: 90%;
						width: 100%;
						padding: 0.25em;
						transition: max-height 750ms ease-in-out;

						li {
							display: block;
							width: 100%;


						}
					}
				}
			}
		}
		ul.hidden-links {
			position: absolute;
			margin: 0;
			padding: 0;
			list-style: none;
			right: 0;
			top: 100%;
			a,
			a:visited {
				padding: 0.75em 1.5em;
			}

			li {
				padding: 0;
				margin-bottom: 1px;
				background-color: var(--smaller_header--background_color);
			}

			&.hidden {
				display: none;
			}
			li.menu-item-has-children {
				ul {
					padding: 0;
					list-style: none;
					border-left: 5px solid var(--header_dark--background_color);
					border-top: 1px dotted var(--header_dark--background_color);
					border-bottom: 1px solid var(--header_dark--background_color);
				}
			}
		}



		a,
		a:visited {
			display: block;
			padding: 0.5em 1.05em;
			text-decoration: none;
			transition: all $button-transition-speed ease-in-out;
			text-align: left;
			color: var( --nav_item--text_color );
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;

			&:hover,
			&:focus,
			&:target {
				background-color: var(--nav_item_hover--background_color);
				color: var(--nav_item_hover--text_color);
			}

		}
		.current_page_item {
			> a {
					border-bottom: 5px solid var( --brand_color-red );
			}
		}

		.current_page_ancestor {
			> a {
				border-bottom: 5px solid var( --brand_color-mediumgray );
			}
		}
		#menu-home {
			svg {
				fill: currentColor;
				height: 1em;
				width: 1em;

			}
		}

	}

	&.smaller .main-navigation {
		color: var(--smaller_header--nav_text_color);

		a,
		a:visited {
			color: var( --nav_item--text_color );

			&:hover,
			&:focus,
			&:target {
				background-color: var(--nav_item_hover--background_color);
				color: var(--nav_item_hover--text_color);
			}

		}

	}
}

.page_featured_image_container:after {
	bottom: 0;
	content: "";
	left: 0;
	opacity: .6;
	position: absolute;
	right: 0;
	top: 0;
	background-color: var(--header_dark--background_color);
}

.no-featured-image .page_heading_area {
	background-color: var(--header_dark--background_color);
}